/*
mat-card{
  width: 100%!important;
  height: 100%!important;
}

.title{
  font-size: 30px;
  font-weight: 500;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;

}

td,
th{
  text-align: center;
  align-items: center;
}

table{
  width: 100%!important;
  height: 100%!important;
}

#citas_restantes{
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.asistencia_status_indicador{
}

.row{
  width: 100%!important;
}

.citas_mensaje{
  width: 100%!important;
  flex-direction: row;
  justify-content: center;
  margin-top: 250px;
}

#citas-mensaje__mensaje{
  font-weight: 550;
  font-size: 30px;
}
*/

mat-form-field{
  width: 100%;
}

#main-title{
  font-size: 28px;
  font-weight: 500;
  color: #002855;
}



#indicador-citas-faltantes{
  font-size: 20px;
  font-weight: 500;
  color: #002855;
}

#noCitas-title{
  font-size: 28px;
  font-weight: 500;
  color: #002855;
}

td,
th{
  text-align: center;
}

#searchCitas{
  background-color: #002855;
  color: whitesmoke;
  box-shadow: 2px 7px 21px 0px #226cc1;

}
