<div class="main" style="width: 100%!important; height: 100%!important;" *ngIf="nota">
  <mat-card>
    <div class="row d-flex mt-4 mb-4 justify-content-around align-items-center">
      <div class="col-12 col-md-5 d-flex justify-content-center align-items-center mt-2">
        <span>Paciente: </span><p> {{expediente.paciente.nombre}} {{expediente.paciente.apellido_materno}} {{expediente.paciente.apellido_paterno}}</p>
      </div>
      <div class="col-12 col-md-3 d-flex justify-content-center align-items-center mt-2">
        <span>Número de nota: </span><p>{{indice_nota+1}}</p>
      </div>
      <div class="col-12 col-md-3 d-flex justify-content-center justify-content-md-center align-items-center mt-2">
        <span>Fecha de creación: </span><p>{{nota.fecha}}</p>
      </div>
    </div>
    <mat-card-content class="mt-4">
      <div class="row d-flex justify-content-center" style="width: 100%; height: 100%!important;">
        <div class="col-12 col-md-10 d-flex justify-content-center">
          <form [formGroup]="notaClinicaForm" style="width: 100%;height: 100%!important; ">
            <div class="row d-flex justify-content-center">
              <div class="col-12 col-md-12">
                <mat-form-field appearance="fill" class="p-0">
                  <mat-label>Nota</mat-label>
                  <textarea readonly matInput formControlName="nota"></textarea>
                </mat-form-field>
              </div>
            </div>


          </form>


        </div>
      </div>
    </mat-card-content>
    <mat-card-footer class="row mt-4 d-flex justify-content-center">
      <button mat-raised-button id="regresar" [routerLink]="['/admin/expedientes/detalle',_id]">
        Regresar al expediente
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-footer>
  </mat-card>

</div>
