<div class="row d-flex justify-content-center align-items-start mt-4" style="width: 100%; max-height: 100%; overflow: auto;" *ngIf="expedientes">

  <div class="row m-4 d-flex justify-content-center align-items-center">
    <button id="btn-crear-expediente" mat-raised-button class="ml-3" title="Crear expediente" style="width: 250px; height: 50px;" routerLink="/admin/expedientes/creacion">
      <span class="text-white" style="font-size: medium;">Nuevo expediente</span> <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="col-10">
    <div class="row mt-2 p-2 d-flex justify-content-around  align-items-center" style="width: 100%;">
      <div class="col-3 d-flex justify-content-center  align-items-center">
        <mat-form-field appearance="fill" style="width: 100%;" >
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="filtros.nombre" >
        </mat-form-field>
        
      </div>
      <div class="col-3 d-flex justify-content-center  align-items-center">
        <mat-form-field appearance="fill" style="width: 100%;" >
          <mat-label>Apellido Paterno</mat-label>
          <input matInput [(ngModel)]="filtros.apellido_paterno" >
        </mat-form-field>
      </div>
      <div class="col-3 d-flex justify-content-center  align-items-center">
        <mat-form-field appearance="fill" style="width: 100%;" >
          <mat-label>Apellido Materno</mat-label>
          <input matInput [(ngModel)]="filtros.apellido_materno" >
        </mat-form-field>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">
        <button mat-fab (click)="aplicarFiltros()" id="applyFilters">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="col-10 d-flex justify-content-center" *ngIf="expedientes.length > 0">
    <mat-card style="width: 100%!important; height: 100%!important; overflow: auto;">
      <mat-toolbar class="d-flex justify-content-center align-items-center"><h2 class="text-white">Expedienetes</h2></mat-toolbar>
      <mat-card-content>
        <table class="table table-hover">
          <thead>
            <tr style="text-align: center;">
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido Paterno</th>
              <th scope="col">Apellido Materno</th>
              <th scope="col">Ver</th>
              <th scope="col">Eliminar</th>
              <th scope="col">Exportar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let expediente of expedientes; index as i;">
              <td>{{expediente.id}}</td>
              <td>{{expediente.nombre}}</td>
              <td>{{expediente.apellido_paterno}}</td>
              <td>{{expediente.apellido_materno}}</td>

              <td>
                <button mat-fab class="viewButton"  [routerLink]="['/expedientes/main', expediente.id]">
                  <mat-icon class="view">visibility</mat-icon>
                </button>
              </td>
              <td>
                <button mat-fab class="delete" (click)="deleteExpedient(expediente.id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
              <td>
                <button mat-fab class="export" (click)="exportar(expediente.id)">
                  <mat-icon>picture_as_pdf</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-10 d-flex justify-content-center align-items-center" *ngIf="expedientes.length == 0">
    <h2 style="font-size: 30px; font-weight: 500;">No existen expedientes registrados.</h2>
  </div>
</div>

<style>
  td{
    text-align: center;
  }

  table{
    width: 100%;
    height: 100%;
  }
</style>
