<div class="row d-flex justify-content-center align-items-center">

    <div class="col-12 col-md-5" *ngIf="!userIsRegisted">
        <mat-card>
            <mat-card-title class="mt-3 mb-3 p-3  d-flex justify-content-center align-items-center">
                <h2 id="title">Restablecer contraseña</h2>
            </mat-card-title>
            <mat-card-content class="p-4">
                <form>
                    <mat-form-field>
                        <mat-label>Correo</mat-label>
                        <input matInput [formControl]="correo">
                        <mat-error *ngIf="correo.hasError('email')  && correo.touched">Ingrese un correo valido</mat-error>
                        <mat-error *ngIf="correo.hasError('required')  && correo.touched">El correo es obligatorio</mat-error>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions class="mt-3 mb-3 p-3 d-flex justify-content-around align-items-center">
                <button mat-raised-button routerLink="/login">Iniciar Sesion</button>
                <button mat-raised-button (click)="verifyUser()">Continuar</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-12 col-md-5" *ngIf="userIsRegisted">
        <mat-card>
            <mat-card-title class="mt-3 mb-3 p-3  d-flex justify-content-center align-items-center">
                <h2 id="title">Ingrese la nueva contraseña</h2>
            </mat-card-title>
            <mat-card-content class="p-4">
                <form>
                    <mat-form-field>
                        <mat-label>Ingrese la contraseña</mat-label>
                        <input matInput [formControl]="password" type="password" minlength="5">
                        <mat-error *ngIf="password.hasError('minlength')  && password.touched">Minimo 5 caracteres</mat-error>
                        <mat-error *ngIf="password.hasError('required')  && password.touched">El campo es requerido</mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>Confirme la contraseña</mat-label>
                        <input matInput  type="password" [formControl]="password_confirm" minlength="5">
                        <mat-error *ngIf="password_confirm.hasError('minlength')  && password_confirm.touched">Minimo 5 caracteres</mat-error>
                        <mat-error *ngIf="password_confirm.hasError('required')  && password_confirm.touched">El campo es requerido</mat-error>
                    </mat-form-field>

                    <mat-error  *ngIf="(password_confirm.value != password.value) && (password_confirm.touched && password.touched)">Las contraseñas no coinciden</mat-error>
                </form>
            </mat-card-content>
            <mat-card-actions class="mt-3 mb-3 p-3 d-flex justify-content-around align-items-center">
                <button mat-raised-button routerLink="/login">Iniciar Sesion</button>
                <button mat-raised-button (click)="resetPassword()" [disabled]="(password_confirm.value != password.value)">Restrablecer</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>