form{
    width: 100%;
}
.row{
    width: 100%;
    height: 100%;
}

mat-form-field{
    width: 100%;

}

#title{
    font-size: 28px;
    font-weight: 600;
    color: #003554;
}

mat-card{
    width: 600px;
    box-shadow:  #e4e4e4 0px 5px 15px!important;

    
}

input{
    font-size: 18px!important;
}

mat-label{
    font-size: 18px!important;
}

button{
    background-color: #045276!important;
    color: whitesmoke!important;
    font-size: 22px;
    box-shadow:  #6c8f9f 0px 5px 15px;

}
