.formArrayContainer{
  max-height: 250px!important;
  margin-top: 40px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}


#addCita{
  background-color: #003554!important;
  color: #e7ecef!important;
  font-weight: 800!important;
  font-size: large;
}
