/* You can add global styles to this file, and also import other style files */

:root {
  --main-bg-color: #003554;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Times New Roman', Times, serif; }


mat-toolbar{
  background-color: var(--main-bg-color)!important;
  color: #e7ecef!important;
  font-weight: 600!important;
  font-size: medium;

}
